<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="static/js/test.js"></script>
<!-- <script src="jquery.min.js"></script>

<script src="jquery-ui.js"></script> -->


</head>
<body>
 
<nav class="navbar navbar-light navigation">
 
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="bi bi-house-door-fill"></i></a>
    <div class="d-flex">
      <a class="navbar-brand" href="#"><i class="bi bi-x"></i></a>
    </div>
  </div>

</nav>
<div class="container text-align-left contain1">
  <div class="row gx-5">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-inbox"></i>
          All Inbox
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="bi bi-star"></i>
          Starred
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="bi bi-pencil"></i>
          Drafts
        </div>
      </div>
      <div class="card">
        <div class="card-body card-body-inbox">
          <i class="bi bi-trash"></i>
          Deleted
        </div>
      </div>
    </div>
    <div class="col-9">
      <nav class="navbar navbar-light" style="background-color:rgb(59, 164, 164);"> 
        <div class="container-fluid">



          <a class="navbar-brand" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i>COMPOSE</a>
          <div class="d-flex">
      
            
          </div>  
         </div>
      </nav>
      <div class="container text-align-left">
        <div class="row">
          <div class="col-4">
            <div class="card ">
              <div class="card-body">
                <i class="bi bi-person-fill"></i>
                <span>
                  HELENA SAM
                </span> 
                <p class="card-text">Some quick example...</p>

                

              </div>
            </div>
            <div class="card ">
              <div class="card-body">
                <i class="bi bi-person-fill"></i>
                <span>
                  HELENA SAM
                </span> 
                <p class="card-text">Some quick example...</p>

                

              </div>
            </div>
            <div class="card ">
              <div class="card-body">
                <i class="bi bi-person-fill"></i>
                <span>
                  HELENA SAM
                </span> 
                <p class="card-text">Some quick example...</p>

                

              </div>
            </div>
            <div class="card ">
              <div class="card-body">
                <i class="bi bi-person-fill"></i>
                <span>
                  HELENA SAM
                </span> 
                <p class="card-text">Some quick example...</p>

                

              </div>
            </div>

            <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          

          
        </div>
        <div class="col-8">
          <div class="card" >
            <div class="card-body" style="height: 5rem;">
              <div class="position-absolute top-0 start-0">
                <h7>
                  HELENA SAM
                </h7>
                
              </div>
  
              <div class="position-absolute top-0 end-0">
                <p class="fw-light">
                  ama@ghama.com
                </p>
               
              </div>
              <div class="position-absolute bottom-0 start-0">
                <p>
                  From:
                  <span>
                    ****@****.com
                  </span>
                </p>
              </div>
              <div class="position-absolute bottom-0 end-0"> 
                <i class="bi bi-reply" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>


                
                <i class="bi bi-trash"></i>
                <i class="bi bi-forward"></i>
              </div>
              
            </div>
          
          <span class="border-bottom border-dark"></span>
            

            
            
           
          </div>
          <div class="input-group">
              
            <textarea class="form-control" aria-label="With textarea" style="height: 50rem;">

            </textarea>
          </div>
        </div>
      </div>
    </div>
    
    
  
  
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgb(59, 164, 164);">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        
      </div>

      <div class="modal-body">
        <form>
          <div class="card " class="mb-3">
            <div class="card-body">
              <label for="exampleInputEmail1" class="form-label">From:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    <label for="exampleInputEmail1" class="form-label">Recipient:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              
              

            

            <label for="message-text" class="col-form-label">Subject:</label>
            <textarea class="form-control" id="subject-text" style="height: 2rem;"></textarea>
            
              
            </div>
            
          </div>
          
         
          <!-- <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div> -->
          <!-- <div class="mb-3">
            <label for="message-text" class="col-form-label">Subject:</label>
            <textarea class="form-control" id="subject-text"></textarea>
          </div> -->
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        
          
        <button type="button" class="btn btn-primary position-absolute bottom-0 start-0">Send message</button>
       
        
      </div>
    </div>
  </div>
</div>


<!-- <p>Hi there</p>
<a href="main">Main</a> -->